@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

body {
  @apply bg-black text-white;
}

* {
  font-family: var(--font-poppins);
}


h1, h2, h3, h4, h5 {
  @apply font-semibold;
}


h1 {
  @apply text-3xl sm:text-4xl md:text-5xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-xl sm:text-2xl md:text-3xl;
}

h4 {
  @apply text-lg sm:text-xl md:text-2xl;
}

ol {
  @apply list-decimal pl-8;

  li {
    @apply mb-4;
  }
}

.styled-text {
  ul {
    @apply list-disc pl-8;

    li {
      @apply mb-4;
    }
  }
}

p a {
  @apply text-indigo-500 underline;
}

.monument {
  font-family: var(--font-monumentextended);
  font-weight: 400;
  * {
    font-family: var(--font-monumentextended);
    font-weight: 400;
  }
}

.nospline {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
}
@layer {
  .gradient-text {
    @apply inline bg-gradient-to-r from-[#00F3F9] via-[#FF29A8] to-[#FFBB00] bg-clip-text text-lg text-transparent;
    font-size: inherit;
  }
  .basecolor {
    @apply text-zinc-100/80;
  }
}

.backglow:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5rem);
    -moz-filter: blur(5rem);
    -ms-filter: blur(5rem);
    filter: blur(5rem);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 8s ease infinite;
}

@media (max-width: 768px) {
  .backglow:after {
    transform: scale(0.65);
    -webkit-filter: blur(4rem);
    -moz-filter: blur(4rem);
    -ms-filter: blur(4rem);
    filter: blur(4rem);
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}


.landingcontent {
  h2, h3, h4, h5 {
    @apply mb-4 md:mb-6;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }
  
  h2 {
    @apply text-lg sm:text-xl md:text-2xl;
  }
  
  h3 {
    @apply text-lg sm:text-lg md:text-xl;
  }
  
  h4 {
    @apply text-lg sm:text-xl md:text-2xl;
  }
  
}

.stylemailchimp {
  &>div {
    @apply mx-auto mt-10 flex max-w-md gap-4 flex-wrap;

    &>div:not([data-lastpass-icon-root]) {
      @apply w-full bg-white rounded-lg p-2 text-center;
    }
  }
  input {
    @apply min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6;
  }
  button {
    @apply flex-none mx-auto rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white;
  }
}

.activeheader {
  @media (max-width: 768px) {
    @apply bg-zinc-900/40 backdrop-blur-sm;
  }
}